.user-profile {
  max-width: 500px;
  height: auto; /* Adjust height to be auto for content flexibility */
  margin: 0 auto;
  padding: 40px 20px; /* Increase padding for more whitespace */
  border: none; /* Remove border for a cleaner look */
  border-radius: 10px; /* Slightly larger border radius for a softer look */
  background: linear-gradient(
    145deg,
    #e2f2f7,
    #e8dfed
  ); /* Subtle gradient background */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1); /* Enhanced box-shadow */
  text-align: center;
  font-family: "Arial", sans-serif; /* Web-friendly font */
}

.profile-info {
  margin-top: 30px; /* Increased top margin */
  margin-bottom: 30px; /* Increased bottom margin */
}

.user-profile img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-top: -90px;
  border: 5px solid white; /* Increased border size */
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2); /* Darker box-shadow */
  transition: transform 0.2s ease-in-out; /* Transition for hover effect */
}

.user-profile img:hover {
  transform: scale(1.05); /* Slight scale on hover */
}

.profile-info label {
  font-weight: 600; /* Slightly heavier font-weight */
  color: #333;
  display: block; /* Changed to block to have each on its own line */
  margin-bottom: 10px; /* Spacing after each label */
}

.profile-info span {
  display: block; /* Each content on its own line */
  text-align: center; /* Center align the content */
  color: #555; /* Slightly darker font color for better readability */
  margin-bottom: 20px; /* Spacing after each content */
}

/* Adding responsive design */
@media (max-width: 768px) {
  .user-profile {
    padding: 30px 15px;
  }

  .user-profile img {
    width: 100px;
    height: 100px;
  }
}

.avatar {
  vertical-align: middle;
  cursor: pointer;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.drop-avatar button {
  width: fit-content;
  background: rgba(179, 151, 151, 0.08);
  margin-left: 10px;
  outline: none;
  border: none;
}
