/* LearningProcess.css */

.learning-process-container {
  max-width: 1000px;
  margin: 40px auto;
  padding: 20px;
  background: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 90px;
}

h1,
h2 {
  color: #333;
  text-align: center;
}

.exam-session {
  background: #ffffff;
  border-radius: 8px;
  margin-bottom: 20px;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

.exam-session h3 {
  color: #4a90e2;
  margin-bottom: 10px;
}

.status {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.status p {
  margin-left: 10px;
}

.status-icon {
  font-size: 20px;
}

p {
  line-height: 1.5; /* Tăng line-height cho dễ đọc */
  margin-bottom: 5px; /* Tạo khoảng cách giữa các dòng */
}

.status-icon.done {
  color: #28a745;
}

.status-icon.in-progress {
  color: #ffc107;
}

.cssp p {
  font-weight: 600;
}

.csstr {
  text-align: center;
}

.csstr td {
  cursor: pointer;
}

@media (max-width: 768px) {
  .table {
    width: 100%; /* Đảm bảo bảng chiếm toàn bộ chiều rộng có sẵn */
    font-size: 12px; /* Giảm kích thước font để phù hợp với màn hình nhỏ */
    margin-left: 20px;
  }
  .Learning {
    margin-left: 15px;
  }
  .table th,
  .table td {
    padding: 8px; /* Giảm padding để tăng không gian hiển thị */
  }

  .status-icon {
    font-size: 16px; /* Giảm kích thước các biểu tượng trong bảng */
  }

  .csstr td {
    padding: 4px; /* Thêm điều chỉnh padding cho các ô */
  }
}
