/* Base reset for styling */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Overall container styles */
.class-question-container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: 80vh;
  overflow-y: auto;
  margin-top: 100px;
  /* Hide scrollbar for IE, Edge, and Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */

  /* Hide scrollbar for Chrome, Safari and Opera */
}

/* Form styling */
.exam-builder-form {
  display: flex;
  flex-direction: column;
}

.exam-builder-title {
  font-size: 24px;
  text-align: center;
  color: #205493;
}

.form-section {
  margin-bottom: 30px;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

/* .form-label {
  font-size: 18px;
  color: #205493;
  margin-bottom: 8px;
} */

.form-select,
.form-input {
  padding: 10px;
  border: 1px solid #ccddee;
  border-radius: 4px;
  font-size: 16px;
  width: auto;
}

/* Checkbox and topics styling */
.chapter-selection {
  display: flex;
  flex-direction: column;
}

.chapter-item {
  margin-bottom: 10px;
}

.checkbox-container {
  display: block;
  position: relative;
  /* padding-left: 35px; */
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 18px;
  margin-left: 17px;
  margin-top: -29px;
}

.topic-selection {
  margin-left: 30px;
  margin-top: 20px;
}

.checkbox-input {
  position: absolute; /* Nếu bạn muốn custom checkbox, giữ lại position: absolute */

  cursor: pointer;

  height: 20px; /* Hoặc kích thước thực của checkbox nếu bạn muốn hiển thị nó */
  width: 20px; /* Hoặc kích thước thực của checkbox nếu bạn muốn hiển thị nó */
  margin-left: -35px; /* Đẩy checkbox ra phía trước */
}

/* Buttons styling */
.button-container {
  text-align: center;
}

.btn-generate-exam {
  width: auto;
  height: auto;

  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 30px;
  transition: background-color 0.3s;
}

.btn-generate-exam:hover {
  background-color: #45a049;
}

/* css + -  */
.expand-toggle {
  margin-right: 8px; /* Space between toggle and checkbox */
  cursor: pointer;
  background: none;
  border: none;
  font-size: 18px; /* Adjust size as needed */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px; /* Match the width of your checkboxes */
  height: 20px; /* Match the height of your checkboxes */
}

.expand-toggle::before {
  content: "+";
  color: #000000; /* màu sắc tuỳ chỉnh */
  padding-right: 5px;
}

.expand-toggle.expanded::before {
  content: "-";
}

/* Button styles for select all / deselect all */
.select-deselect-all-btn {
  padding: 10px 20px;
  background-color: #7daaec; /* Màu nền của nút */
  color: white; /* Màu chữ của nút */
  border: none; /* Không có viền */
  border-radius: 4px; /* Bo góc */
  cursor: pointer; /* Dạng con trỏ khi rê chuột vào */
  font-size: 15px; /* Kích thước chữ */
  width: auto; /* Chiều rộng nút */
  transition: background-color 0.3s ease; /* Hiệu ứng khi hover */
  display: flex;
}

.select-deselect-all-btn:hover {
  background-color: #45a049; /* Màu nền khi hover */
}

/* Tùy chỉnh cho responsive */
@media (max-width: 768px) {
  .select-deselect-all-btn {
    width: 30%; /* Chiều rộng nút cho màn hình nhỏ */
    padding: 10px 0; /* Padding cho màn hình nhỏ */
  }
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .class-question-container {
    width: 95%;
    margin: 10px auto;
  }

  .exam-builder-form {
    padding: 10px;
  }
}
