/* GetPremium.css */

/* Container */
.get-premium-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #f4f7f7;
  font-family: "Arial", sans-serif;
}

/* Premium Card */
.premium-card {
  width: 90%;
  max-width: 600px;
  background-color: #def6fa81;
  border-radius: 12px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
  padding: 30px;
  margin: 20px;
  text-align: center;
}

.premium-card h1 {
  font-size: 24px;
  color: #333;
  margin-bottom: 30px;
}

.premium-card ul {
  list-style: none;
  padding: 0;
  margin-bottom: 20px;
}

.premium-card li {
  padding: 10px;
  border-bottom: 1px solid #ececec;
  color: #666;
  font-size: 16px;
}

.premium-card li:last-child {
  border-bottom: none;
}
.btnpremium {
  margin-top: 10px;
}

.H1Premium {
  background-color: #a3cfbb;
  padding: 10px;
  border: 1px solid #8fe6be;
  border-radius: 10px;
  margin-left: 20px;
}

@media (max-width: 768px) {
  .premium-card {
    width: 90%; /* More width on smaller screens */
    margin-left: 30px;
    margin-right: 0;
  }

  .premium-card h1,
  .premium-card li {
    font-size: 20px; /* Larger text for better readability */
  }

  .btnpremium button {
    font-size: 18px; /* Larger font size for the button */
  }
}

@media (max-width: 480px) {
  .premium-card {
    width: 90%; /* Full width on very small screens */
    border-radius: 0; /* Optional: remove border radius on small screens */
    margin-left: 30px;
    margin-right: 0;
  }

  .premium-card h1 {
    font-size: 18px; /* Adjust header size for very small screens */
  }

  .premium-card li {
    font-size: 15px; /* Smaller font size for list items */
  }
}
