* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Arial, Helvetica, sans-serif !important;
}

.Nav {
  position: fixed;
  margin-top: 0;
  margin-left: 0;
  width: 100%;
  z-index: 1000;
}

.footer-distributed {
  background: #e0efef;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 55px 50px;
  position: absolute;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
  display: inline-block;
  vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left {
  width: 40%;
}

/* The company logo */

.footer-distributed h3 {
  color: black;
  font: normal 36px "Open Sans", cursive;
  margin: 0;
}

.footer-distributed h3 span {
  color: lightseagreen;
}

/* Footer links */

.footer-distributed .footer-links {
  color: black;
  margin: 20px 0 12px;
  padding: 0;
}

.footer-distributed .footer-links a {
  display: inline-block;
  line-height: 1.8;
  font-weight: 400;
  text-decoration: none;
  color: inherit;
}

.footer-distributed .footer-company-name {
  color: #222;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center {
  width: 35%;
}

.footer-distributed .footer-center i {
  background-color: #a8d1eb;
  color: rgb(255, 255, 255);
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
  font-size: 17px;
  line-height: 38px;
}

.footer-distributed .footer-center p {
  display: inline-block;
  color: black;
  font-weight: 400;
  vertical-align: middle;
  margin: 0;
}

.footer-distributed .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}

.footer-distributed .footer-center p a {
  color: lightseagreen;
  text-decoration: none;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight: 300;
  font-size: 20px;
  left: 0;
  color: black;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

/* Footer Right */

.footer-distributed .footer-right {
  width: 20%;
}

.footer-distributed .footer-company-about {
  line-height: 20px;
  color: #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-company-about span {
  display: block;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-distributed .footer-icons {
  margin-top: 25px;
}

.footer-distributed .footer-icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #33383b;
  border-radius: 2px;

  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;

  margin-right: 3px;
  margin-bottom: 5px;
}
/* Footer */
.Slide-img {
  width: 100%;
  height: 50vh;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {
  .footer-distributed {
    font: bold 14px sans-serif;
  }

  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }

  .footer-distributed .footer-center i {
    margin-left: 0;
  }
}

@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");
.navbar-menu {
  height: 100vh;
  background-color: white;
  box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.15);
  position: fixed;
  left: 0;
  width: 210px;
  margin-top: -30px;
}
.burger {
  display: flex;
  justify-content: flex-end;
}
.burger img {
  padding: 25px 8px 0px 0px;
  cursor: pointer;
}
.navbar__list {
  list-style-type: none;
}
.navbar__li {
  display: inline-block;
  padding: 0px 0px 0px 12px;
  position: relative;
  top: 2.5px;
  font-size: 16px;
  letter-spacing: 0px;
  line-height: 38px;
  color: #000;
  font-family: "Lato";
  font-weight: 400;
}
.navbar__li-box:first-child {
  margin-top: 53px;
}
.navbar__li-box {
  height: 43px;
  margin-top: 15px;
}
.navbar__li-box:hover {
  border-left: 7px solid #58b5fc;
  cursor: pointer;
}

/* css menu */

.Nav-Link {
  text-decoration: none;
  color: rgb(0 0 0);
  line-height: 66px;
  padding: 0 15px;
}

.Nav-Link:hover {
  color: #58b5fc;
  font-size: 18px;
}

/* css nút chọn lớp */
/* .ChooseClass {
  display: flex;
  text-decoration: none;
  text-align: center;
} */

/* css chọn tổng câu hỏi */
.TotalQuestion {
  width: 80px;
  height: 30px;
  margin-top: 10px;
  margin-left: 5px;
}

/* css file tạo đề*/
.ClassQuestionChoose {
  /* margin-bottom: 70px;
  margin-left: 15px; */
  font-size: 15px;
}
.ClassQuestionChoose .form-create-exam {
  margin-left: 30px;
}
.ClassQuestionChoose .form-create-exam .btn-exam {
  margin-top: 20px;
  outline: none;
  border-radius: 10px;
  font-weight: 600;
}
/* css nút checkbox tự tạo đề */
.CheckboxCss {
  width: 30px;
}
/* css nút chọn chuyên đề */
.CheckboxCss1 {
  width: 30px;
  margin-left: 20px;
}

/* css file Footer */
/* .footer-distributed {
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 999;
} */

/* css nút ấn tự tạo đề */
.btn-center {
  display: block;
  height: 62vh;
}

/* css Inforaccout */
.user-profile {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  text-align: center;
}

.profile-info {
  margin-bottom: 10px;
}

.profile-info label {
  font-weight: bold;
  display: inline-block;
  width: 100px;
  margin-left: 15px;
}

.profile-info span {
  display: inline-block;
  width: calc(100% - 120px); /* 100% width minus label width and margin */
  margin-left: 10px;
}

.button-container {
  margin-top: 20px;
}

.edit-button {
  padding: 8px 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.edit-button:hover {
  background-color: #0056b3;
}
.avatar {
  vertical-align: middle;
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.drop-avatar button {
  width: fit-content;
  background: rgba(179, 151, 151, 0.08);
  margin-left: 10px;
  outline: none;
  border: none;
}
.dropdown #dropdown-basic {
  width: 100% !important;
  margin-left: 10px;
}
.dropdown .dropdown-menu {
  left: -100% !important;
}

.form_SeachHome {
  display: flex;
  justify-content: end;
  margin-top: 10px;
  margin-right: 90px;
}

.btn_SeachHome {
  width: 90px;
}
