/* PracticeResults.css */

.results-container {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #333;
  max-width: 90%;
  margin: 20px auto;
  padding: 20px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: 80vh;
  overflow-y: auto;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.results-title {
  text-align: center;
  color: #5e5e5e;
  margin-bottom: 30px;
  font-size: calc(18px + (24 - 18) * ((100vw - 300px) / (1600 - 300)));
}

.scoreboard {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 30px;
  padding: 20px;
  background: #f2f2f2;
  border-radius: 8px;
  flex-wrap: wrap; /* Allow items to wrap on small screens */
}

.score-item {
  text-align: center;
}

.score-value {
  font-size: 2em;
  font-weight: bold;
  color: #4a90e2;
}

.score-label {
  font-size: 0.85em;
  color: #9b9b9b;
  text-transform: uppercase;
}

.questions-results {
  margin-top: 20px;
  cursor: pointer;
}

.question-result-item {
  padding: 15px;
  margin-bottom: 10px;
  background: #fafafa;
  cursor: pointer;
  border-radius: 4px;
}

.question-content {
  margin-bottom: 5px;
}

.question-text {
  font-weight: 600;
  margin-bottom: 10px;
}

.question-answers {
  margin-left: 20px;
}

.user-answer,
.correct-answer {
  font-size: 0.95em;
  margin-bottom: 5px;
}

.user-answer span,
.correct-answer span {
  font-weight: 600;
}
@media (max-width: 768px) {
  .score-item {
    flex-basis: 50%; /* Make each score item take half the width on small screens */
  }
}
